<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sport Shoes - Forgot Password</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<link href="/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/font-awesome/css/brands.min.css" rel="stylesheet" />
<link href="/font-awesome/css/solid.min.css" rel="stylesheet" />
<script src="/bootstrap/css/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<style th:replace="fragments/style"></style>
</head>
<body>
	<!-- <!--  <div th:replace="fragments/Merchant_header"></div>
	<div th:replace="fragments/staff_header"></div>-->
	<div th:replace="fragments/header"></div>
	<div class="container">
		<div class="mt-3 d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Forgot Password</h3>
				</div>
				<div class="card-body">
					<div th:if="${error != null}">
						<p class="text-danger" th:text=${error}></p>
					</div>
					<div th:if="${message != null}">
						<p class="text-warning" th:text="${message}"></p>
					</div>
					<form class="needs-validation" th:action="@{/forgot_password}"
						method="post" style="max-width: 420px; margin: 0 auto;" novalidate>
						<div class="border border-secondary rounded p-3">
							<div>
								<p>We will be sending a reset password link to your email.</p>
							</div>
							<div>
						
								<input type="email" name="email" class="form-control"
									placeholder="Enter your e-mail" required autofocus />
								<p class="invalid-feedback">Please enter your email.</p>
								<p class="text-danger" th:if="${email}" th:text="${email}">
								<p class="text-center mt-3">
									<input type="submit" value="Send" class="btn btn-primary" />
								</p>
							</div>
						</div>
					</form>
					<!-- Form Validation -->
					<script>
						'use strict'
						var form = document.querySelector('.needs-validation')

						form.addEventListener('submit', function(event) {
							if (!form.checkValidity()) {
								event.preventDefault()
								event.stopPropagation()
							}
							form.classList.add('was-validated')
						})
					</script>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a th:href="@{/register}">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center">
						Have an existing account?<a th:href="@{/login}">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div th:replace="fragments/footer"></div>
</body>
</html>