<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light"
		style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/"> <img src="/images/logo.png"
				alt="Logo" width="50" height="35"> <i>Sports Shoes</i>
			</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search"
						aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
			<div style="float: right">
				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="">About</a></li>
						<li class="nav-item"><a class="nav-link" href="/contactus">Contact
								Us</a></li>
						<!-- Shopping Cart -->
						<li class="nav-item"><a class="nav-link" href="/shoppingcart"
							sec:authorize="hasRole('CUSTOMER')">Cart<i
								class="fas fa-shopping-cart"></i></a></li>
						<!--Drop Down list Account -->
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-bs-toggle="dropdown" aria-expanded="false"
							sec:authorize="hasAnyRole('CUSTOMER', 'ADMIN')"> Account Setting</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<!-- Drop Down Name Link-->
								<li><a class="dropdown-item" href="/account">View
										Accounts</a></li>
								<li><a class="dropdown-item" href="/purchasehistory">View
										Purchase History</a></li>
							</ul></li>
						<!-- Authorize Admin For Merchant -->
						<li class="nav-item"><a sec:authorize="hasRole('ADMIN')"
							class="nav-link active" href="/merchant">Merchant Page</a></li>
						<!-- UserName Authentication -->
						<li class="nav-item"><a sec:authorize="isAuthenticated()"
							class="nav-link active">Welcome <span
								sec:authentication="principal.username"></span></a></li>
						<!-- Login -->
						<li class="nav-item"><a sec:authorize="!isAuthenticated()"
							class="nav-link" href="/login">Login</a></li>
						<!-- Log out -->
						<li class="nav-item">
							<form sec:authorize="isAuthenticated()" th:action="@{/logout}"
								method="post" class="">
								<button class="btn nav-link" type="submit">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
